* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    scroll-behavior: smooth;
} 

:root {
    --primaria: #6d39e6;
    --secundaria: #1A1A1A;
    --escuro: #0c0009;
    --maisEscuro: #050505;
    --claro: #D1D5DB;
    --vidro: rgba(0, 64, 120, 0.5);
  }

  body {
    background-color: var(--escuro);
    color: var(--claro)
  }

  .navegacao {
    position: fixed;
    background: rgba(41, 15, 42, 0.8);
    z-index: 100;
    padding: 1.5rem;
    width: 100%;
  }

.menu {
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
}

  .menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
  }

  .menu-link::before {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: blueviolet;
  }

  .menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: blueviolet;
    transition: 0.5s ease-in;
  }

  .menu-link:hover::after {
    width: 100%;
  }

  .foto-perfil {
    width: 350px;
    height: 350px;
    box-shadow: 0px 17px 16px -3px rgba(28,0,46,1);
    border-radius: 50%;
    border: 4px solid var(--primaria);
  }

  .inicio {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    font-size: 3.5rem;
    color: blueviolet;
    font-weight: bold;
    margin: 20px;
  }

  .paragrafo-main {
    font-size: 2rem;
    color: var(--claro);
    font-weight: lighter;
    margin: 10px;
  }